#home{

    height: 100%;
    width: 100%;
    background: var( --theme-light-grey );
    z-index: 1;

}

aside .open_auth{

    width: 100%;
    height: auto;
    text-align: left;
    color: rgba( 255, 255, 255, 0.8 );

}

aside .open_auth:hover{

    cursor: pointer;
    opacity: 0.8;

}

aside .open_auth p{
    margin: 0;
}

aside{

    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var( --theme-grey );
    box-shadow: var( --shadow-4 );
    z-index: 100;

}

aside .search{

    width: calc( 100% - 40px );
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background: rgba( 97, 97, 97, 1 );

}

aside .search:hover{

    background: rgba( 97, 97, 97, 0.8 );
    cursor: pointer;

}

aside .search img{

    height: 15px;
    margin-right: 15px;
    opacity: 0.8;

}

aside .search p{

    margin: 0;
    font-size: 1em;
    color: rgba( 255, 255, 255, 0.8 );

}

.closing_layer{

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba( 0, 0, 0, 0.1 );
    z-index: 20;
}

aside .open_auth{

    width: calc( 100% - 40px );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: rgba( 97, 97, 97, 1 );

}

aside .open_auth:hover{

    background: rgba( 97, 97, 97, 0.8 );
    cursor: pointer;

}

aside .open_auth img{

    height: 15px;
    margin-right: 15px;
    opacity: 0.8;

}

aside .open_auth p{

    margin: 0;
    font-size: 1em;
    color: rgba( 255, 255, 255, 0.8 );

}

main{

    height: 100%;
    width: calc( 100% - 300px );
    overflow-y: scroll;
    z-index: 10;

}

main .list_wrapper{

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 95px;
    padding: 0;
    list-style-type: none;
    z-index: 10;

}

main header{

    height: 60px;
    width: calc( 100% - 300px );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 300px;
    background: var( --theme-light-grey );
    z-index: 11;

}

main header .tab_btn{

    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 3px;
    margin: 0 10px;

}

main header .tab_btn:hover{

    cursor: pointer;
    padding-bottom: 0px;
    border-bottom: 3px solid var( --interactions-light-blue );

}

main header .tab_btn.active{
    padding-bottom: 0px;
    border-bottom: 3px solid var( --interactions-blue ) !important;
}

main header .tab_btn p{

    margin: 0;
    font-size: 1em;
    color: rgba( 0, 0, 0, 0.8 );

}

@media screen and ( max-width: 800px ) {

    #home{
        width: 900px;
    }

    .main_container{
        width: 900px;
    }

    main{
        width: 600px;
    }

}

@media screen and ( max-height: 500px ) {

    #home{
        height: 600px;
    }

    .main_container{
        height: 600px;
    }

    main{
        height: 600px;
    }

}