.search_panel{

    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    left: 300px;
    border-radius: 0 0 50% 0;
    background: rgba( 66, 66, 66, 0.8 );
    transition: height 100ms, width 100ms, border-radius 100ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 50;

}

