/*******************

    C O L O R S

*********************/

/** Theme **/

:root {

    --theme-light-grey: #F5F5F5;
    --theme-grey: #424242;
    --theme-dark-grey: #303030;

}

/** Interactions **/

:root {

    --interactions-light-grey: #E0E0E0;
    --interactions-grey: #545454;

    --interactions-blue: #0091EA;
    --interactions-yellow: #FFCC80;
    --interactions-pink: #F48FB1;
    --interactions-violet: #B39DDB;
}

/** User Messages **/

/*******************

    S H A D O W S

*******************/

:root{

    --shadow-1: 0 1px 3px rgba(0,0,0,0.30), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-2: 0 3px 6px rgba(0,0,0,0.30), 0 3px 6px rgba(0,0,0,0.23);
    --shadow-3: 0 10px 20px rgba(0,0,0,0.50), 0 6px 6px rgba(0,0,0,0.23);
    --shadow-4: 0 14px 28px rgba(0,0,0,0.50), 0 10px 10px rgba(0,0,0,0.22);
    --shadow-5: 0 19px 38px rgba(0,0,0,0.80), 0 15px 12px rgba(0,0,0,0.22);

}

/*******************

    F O N T S

*******************/



/*******************

    L A Y O U T S

*******************/

.container{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;

}

/*******************

    A N I M A T I O N S

*******************/



/*******************

   P R E S E T S

*******************/

html, body{

    height: 100%;
    width: 100%;
    z-index: 1;

}

.root{

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;

}