/** Theme **/

:root {

    --theme-light-grey: #F5F5F5;
    --theme-grey: #424242;
    --theme-dark-grey: #303030;
    --theme-extra-dark-grey: #212121;

}

/** Interactions **/

:root {

    --interactions-light-grey: #E0E0E0;
    --interactions-grey: #545454;

    --interactions-light-blue: #40C4FF;
    --interactions-blue: #0091EA;
    --interactions-green: #00BFA5;
    --interactions-yellow: #FFCC80;
    --interactions-pink: #F48FB1;
    --interactions-violet: #B39DDB;
    --interactions-red: #E53935;
}

/** User Messages **/